<header class="hamburguer">
  <div class="hamburguerMenu" (click)="showHamburguer = !showHamburguer">
    <div class="bar" [ngClass]="{ active: showHamburguer}"></div>
    <div class="bar" [ngClass]="{ active: showHamburguer}"></div>
    <div class="bar" [ngClass]="{ active: showHamburguer}"></div>
  </div>
  <img class="smartsoftIcon" src="../../../assets/cropped-Logo.png" alt="Smartsoft Logo">
</header>
<header>
  <img class="smartsoftIcon" src="../../../assets/cropped-Logo.png" alt="Smartsoft Logo">
  <div>
    <a class="header__link" routerLink="/fileRead">Análisis CSV</a>
    <button class="logOut" (click)="logout()">Cerrar sesión</button>
  </div>
</header>
<section class="hamburguerSection" [ngStyle]="{ right: showHamburguer ? '0': '100%'}">
  <a class="header__link" routerLink="/fileRead">Análisis CSV</a>
  <button class="logOut" (click)="logout()">Cerrar sesión</button>
</section>
