:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-block: 32px;
  width: 100%;
  max-width: 906px;
  padding-inline: 20px;
  -webkit-box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
  -moz-box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
  box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
}

.smartsoftIcon{
  height: 40px;
  width: auto;
}


.header__link{
  color: #333333;
  text-decoration: none;
}

.header__link:hover{
  text-decoration: underline;
}

header{
  display: none;
}

.hamburguer{
  display: flex;
  position: relative;
  z-index: 1;
}

.hamburguerMenu{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 35px;
  height: 35px;
}

.bar{
  width: 100%;
  height: 6px;
  background-color: #525252;
  border-radius: 2px;
}

.bar:nth-child(2){
  width: 26px;
}

.hamburguerSection{
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 132px;
  padding-left: 20px;
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
  transition: 0.3s right;
}

.hamburguerSection > .header__link{
  font-size: 1.75rem;
}

.bar{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.active:nth-child(1){
  transform: translate(-4.3px, 13.8px) rotate(45deg);
  width: 42px;
}

.bar.active:nth-child(2){
  opacity: 0;
}

.bar.active:nth-child(3){
  transform: translate(-4.3px, -13.8px) rotate(-45deg);
  width: 42px;
}

.logOut{
  width: 136px;
  height: 40px;
  border: none;
  border-radius: 13px;
  background: #1FA4B5;
  color: #FAFAFA;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
  transition: 200ms background;
}

.logOut:hover{
  cursor: pointer;
  background: #147480;
}

.modalCreateUser{
  background-color: rgba(45, 45, 45, 60%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCreateUser__form{
  width: 100%;
  height: fit-content;
  max-width: 368px;
  padding: 36px 24px;
  background-color: white;
  border-radius: 25px;
}

.modalCreateUser__form > h2{
  text-align: center;
  font-weight: 500;
  color: #333333;
}

label:nth-child(1){
  margin-bottom: 16px;
}

label{
  position: relative;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #3C515D;
  font-size: 0.773rem;
  font-weight: 600;
  letter-spacing: -0.124px;
}

.modalInput{
  margin-top: 8px;
  width: 100%;
  height: 39px;
  border-radius: 16px;
  border: 1px solid #919699;
  background: #F0F0F0;
  padding-inline-start: 12px;
}

.modalInput + small{
  color: #d37373;
}

textarea.modalInput{
  height: 90px;
}

.modalInput:focus{
  outline: 2px solid #1FA4B5;
}

.buttonPanel{
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 32px;
}

.buttonPanel__button{
  width: 100px;
  height: 40px;
  border-radius: 13px;
  border: none;
  background-color: #5f7d5f;
  color: white;
}

.buttonPanel__button:disabled{
  background-color: #5f7d5f57;
}

.buttonPanel__button.cancel{
  background-color: #7d5f5f;
}

.bulletMenu{
  position: sticky;
  display: flex;
  gap: 24px;
  bottom: 0;
  padding-block: 36px;
}

.bulletMenu__button{
  cursor: pointer;
  border: none;
  border-radius: 13px;
  height: 40px;
  padding-inline: 16px;
  background-color: #333333;
  color: white;
  transition: 200ms all;
}

.bulletMenu__button:hover{
  background-color: #555454;
}

.bulletMenu__button:disabled{
  background-color: #aaaaaa;
}

/* rgb(239, 239, 239) */
/* rgba(239, 239, 239, 0.3) */

.mat-elevation-z8{
  margin-top: 36px;
  max-width: 760px;
}

.tableTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding-inline: 24px;
  padding-block: 32px;
}

.tableTitle > input{
  background-color: #545454;
  color: white;
  padding-left: 8px;
  border: none;
  border-radius: 13px;
  height: 36px;
}

.tableTitle > input:focus{
  outline: 2px solid #1FA4B5;
}

.tableTitle > h1{
  color: white;
  font-size: 36px;
  line-height: 36px;
}

.spinner{
  background-color: rgba(45, 45, 45, 60%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner > .subDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 36px;
  border-radius: 16px;
}

.subDiv > h2{
  color: #545454;
  margin-top: 32px;
}

@media screen and (min-width: 500px){
  header{
    display: flex;
    justify-content: space-between;
    font-size: 0.773rem;
  }

  .hamburguer{
    display: none;
  }

  .logOut{
    margin-inline-start: 52px;
  }
}

