:host{
  height: 100%;
  width: 100%;
}

.landscapeBackground{
  display: none;
}

.smartsoftIcon{
  height: 22px;
  width: auto;
  position: absolute;
  top: 21px;
}

.loginContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  position: relative;
}

h1{
  color: #133E57;
  width: 100%;
  max-width: 320px;
  font-size: 1.25rem;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  gap: 24px;
}

label{
  position: relative;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #3C515D;
  font-size: 0.773rem;
  font-weight: 600;
  letter-spacing: -0.124px;
}

input{
  margin-top: 8px;
  width: 100%;
  height: 39px;
  border-radius: 16px;
  border: 1px solid #8FB2C7;
  background: #F0F0F0;
  padding-inline-start: 12px;
}

label > ion-icon{
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 12px;
  color: #3e7495;
}

input::placeholder{
  color: #8FB2C7;
}

input:focus{
  outline: 1px solid #3e7495;
}

input.error{
  border-color: #c78f8f;
  outline: 1px solid #d37373;
}


input + small{
  color: #d37373;
}
/* a{
  width: 100%;
  max-width: 320px;
  display: block;
  font-size: 0.648rem;
  color: #6D8EA1;
  font-weight: 600;
  letter-spacing: -0.104px;
  margin-top: 12px;
  margin-bottom: 24px;
} */

button{
  width: 100%;
  height: 39px;
  background-color: #1FA4B5;
  border: none;
  border-radius: 16px;
  color: #FAFAFA;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
}

button:disabled{
  background-color: #6ba4ac;
}

@media screen and (min-width: 768px) {
  :host{
    display: flex;
  }

  .landscapeBackground,
  .loginContainer{
    width: 50%;
  }

  .loginContainer{
    padding-inline: 32px;
  }

  .landscapeBackground{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginContainer > .smartsoftIcon{
    display: none;
  }

  .serverRoom{
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
  }

  .smartsoftIcon{
    position: relative;
    height: 48px;
    width: auto;
  }

  .inputDiv,
  h1,
  label{
    max-width: 480px;
  }
}
