<section class="landscapeBackground">
  <img class="serverRoom" src="../../../assets/serverRoom.jpeg" alt="Server Room Background Image">
  <img class="smartsoftIcon" src="../../../assets/cropped-Logo-inverted.png" alt="Smartsoft Logo">
</section>
<section class="loginContainer">
  <img class="smartsoftIcon" src="../../../assets/cropped-Logo.png" alt="Smartsoft Logo">
  <h1>Inicia sesión</h1>
  <form class="inputDiv" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <label for="email">
      Correo electrónico
      <input type="email" formControlName="email" id="email" placeholder="Ingresa tu correo electrónico" [ngClass]="{ error: email.errors && email.errors.email && (email.dirty || email.touched)}">
      <small *ngIf="email.errors && email.errors.email && (email.dirty || email.touched)">Ingrese un Correo electrónico válido</small>
    </label>
    <label for="pwd">
      Contraseña
      <input #passwordRef type="password" formControlName="pwd" id="pwd" placeholder="Ingresa tu contraseña">
      <ion-icon name="eye" *ngIf="showIcon" (click)="showPassword(true)"></ion-icon>
      <ion-icon name="eye-off" *ngIf="!showIcon" (click)="showPassword(false)"></ion-icon>
    </label>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
  <!-- <a routerLink="/auth/forgotPassword">¿Olvidaste tu contraseña?</a> -->
</section>

<div class="spinner" *ngIf="showSpinner">
  <section class="subDiv">
    <mat-spinner diameter="80" color="#1FA4B5"></mat-spinner>
    <h2>Iniciando Sesión</h2>
  </section>
</div>
