:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-block: 32px;
}

.smartsoftIcon{
  height: 70px;
  width: auto;
}

input{
  text-align: center;
}

main{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  max-width: 906px;
}

.fileZoneContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

#drop-zone{
  min-width: 280px;
  max-width: 320px;
  height: 183px;
  border-radius: 16px;
  border: 2px dashed #9DBCCD;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

#drop-zone > p{
  color: #8FB2C7;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
}

.cloud{
  font-size: 44px;
  color: #9DBCCD;
}

#drop-zone + span{
  color: #3C515D;
  font-size: 0.773rem;
  font-weight: 600;
  letter-spacing: -0.124px;
}

.logOut{
  width: 136px;
  height: 40px;
  border: none;
  border-radius: 13px;
  background: #1FA4B5;
  color: #FAFAFA;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
}

.downRow{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 52px;
  max-width: 320px;
  margin-block-end: 72px;
}

.infoBanner{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.infoBanner > h1{
  color: #1FA4B5;
  font-size: 3.273rem;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 2.8rem;
  text-align: center;
}

.infoBanner > h2{
  color: #567485;
  font-size: 0.773rem;
  font-weight: 500;
  word-wrap: break-word;
  text-align: center;
}

.bolden{
  font-weight: 600;
}

main.changeFlex{
  justify-content: flex-start;
}

.chartSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 72px;
}

.chartSection > h1{
  color: #1FA4B5;
  font-size: 1.273rem;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.8rem;
  text-align: center;
}

.chartSection{
  height: 0;
  width: 0;
}

.renderedChart > .chartSection{
  height: auto;
}

#MyChart{
  width: 280px;
}

@media screen and (min-width: 900px) {
  .infoBanner{
    align-items: flex-start;
  }

  .infoBanner > h1,
  .infoBanner > h2{
    text-align: start;
  }

  .infoContainer{
    flex-direction: row;
    max-width: none;
  }

  main.changeFlex{
    height: 100%;
    row-gap: 0;
    align-items: flex-start;
    justify-content: space-between;
  }

  .renderedChart > .chartSection{
    width: 285px;
    height: auto;
  }

  .chartSection > h1{
    text-align: start;
  }

  .downRow{
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}
