<section #dropZone id="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
  <ion-icon class="cloud" name="cloud-upload-outline"></ion-icon>
  <p>Arrastra aquí tu .csv</p>
</section>
<span>o</span>
<button class="uploadCsv">Sube un .csv</button>
<div *ngIf="highestCovid != null">
  Estado con mas muertos:
  {{highestCovid.name}}
  {{highestCovid.deaths}}
</div>
<div *ngIf="lowestCovid != null">
  Estado con menos muertos:
  {{lowestCovid.name}}
  {{lowestCovid.deaths}}
</div>
<div *ngIf="highestAffected != null">
  Estado más afectado:
  {{highestAffected.name}}
  {{highestAffected.population}}
  {{highestAffected.deaths}}
  Esto porque las muertes representaron un {{highestAffected.deathDeferPercentage}}%
</div>
