:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-block: 32px;
  width: 100%;
  max-width: 906px;
  padding-inline: 20px;
  -webkit-box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
  -moz-box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
  box-shadow: 2px 10px 23px -14px rgba(234,234,234,0.75);
}

.smartsoftIcon{
  height: 40px;
  width: auto;
}

input{
  text-align: center;
}

main{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  max-width: 906px;
}

.fileZoneContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  padding-bottom: 60px;
}

#drop-zone{
  min-width: 280px;
  max-width: 320px;
  height: 183px;
  border-radius: 16px;
  border: 2px dashed #9DBCCD;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

#drop-zone > p{
  color: #8FB2C7;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
}

.cloud{
  font-size: 44px;
  color: #9DBCCD;
}

#drop-zone + span{
  color: #3C515D;
  font-size: 0.773rem;
  font-weight: 600;
  letter-spacing: -0.124px;
}

.logOut{
  width: 136px;
  height: 40px;
  border: none;
  border-radius: 13px;
  background: #1FA4B5;
  color: #FAFAFA;
  font-size: 0.773rem;
  font-weight: 500;
  letter-spacing: -0.124px;
  transition: 200ms background;
}

.logOut:hover{
  cursor: pointer;
  background: #147480;
}

.downRow{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 52px;
  max-width: 320px;
  margin-block-end: 72px;
}

.infoBanner{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.infoBanner > h1{
  color: #1FA4B5;
  font-size: 3.273rem;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 2.8rem;
  text-align: center;
}

.infoBanner > h2{
  color: #567485;
  font-size: 0.773rem;
  font-weight: 500;
  word-wrap: break-word;
  text-align: center;
}

.bolden{
  font-weight: 600;
}

main.changeFlex{
  justify-content: flex-start;
}

.chartSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 72px;
}

.chartSection > h1{
  color: #1FA4B5;
  font-size: 1.273rem;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.8rem;
  text-align: center;
}

.chartSection{
  height: 0;
  width: 0;
}

.renderedChart > .chartSection{
  width: auto;
  height: auto;
}

#MyChart{
  width: 280px;
}

.header__link{
  color: #333333;
  text-decoration: none;
}

.header__link:hover{
  text-decoration: underline;
}

header{
  display: none;
}

.hamburguer{
  display: flex;
  position: relative;
  z-index: 1;
}

.hamburguerMenu{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 35px;
  height: 35px;
}

.bar{
  width: 100%;
  height: 6px;
  background-color: #525252;
  border-radius: 2px;
}

.bar:nth-child(2){
  width: 26px;
}

.hamburguerSection{
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 132px;
  padding-left: 20px;
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
  transition: 0.3s right;
}

.hamburguerSection > .header__link{
  font-size: 1.75rem;
}

.bar{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.active:nth-child(1){
  transform: translate(-4.3px, 13.8px) rotate(45deg);
  width: 42px;
}

.bar.active:nth-child(2){
  opacity: 0;
}

.bar.active:nth-child(3){
  transform: translate(-4.3px, -13.8px) rotate(-45deg);
  width: 42px;
}

.spinner{
  background-color: rgba(45, 45, 45, 60%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner > .subDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 36px;
  border-radius: 16px;
}

.subDiv > h2{
  color: #545454;
  margin-top: 32px;
}


@media screen and (min-width: 500px){
  header{
    display: flex;
    justify-content: space-between;
    font-size: 0.773rem;
  }

  .hamburguer{
    display: none;
  }

  .logOut{
    margin-inline-start: 52px;
  }
}

@media screen and (min-width: 900px) {
  .infoBanner{
    align-items: flex-start;
  }

  .infoBanner > h1,
  .infoBanner > h2{
    text-align: start;
  }

  .infoContainer{
    flex-direction: row;
    max-width: none;
  }

  main.changeFlex{
    height: 100%;
    row-gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .renderedChart > .chartSection{
    width: 285px;
    height: auto;
  }

  .chartSection > h1{
    text-align: start;
  }

  .downRow{
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}
